tika
urllib3
torch
tensorflow
gensim
beautifulsoup4
future
ipywidgets>=7.0
jupyter
lxml
matplotlib
nltk
numba
numpy>=1.16
torch>=1.0
pandas
psycopg2
py4j
requests
runipy
scipy
six
spacy>=2.1.3
sqlalchemy>=1.2.10
tqdm
numbskull
treedlib